body {
    font-family: 'Poppins', sans-serif;
    color: #26262C;
    background-color: #fff;
}

a {
    cursor: pointer;
    text-decoration: none !important;
    transition: all 0.2s;
    color: unset;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background-color: #fff;
}
  
::-webkit-scrollbar-thumb {
    background: #A5A3A2;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #585656;
}

textarea {
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

textarea::-webkit-scrollbar {
    width: 6px;
}
  
textarea::-webkit-scrollbar-track {
    background-color: transparent;
}
  
textarea::-webkit-scrollbar-thumb {
    background: #ffb56a;
    border-radius: 3px;
}
  
textarea::-webkit-scrollbar-thumb:hover {
    background: #FFA242;
}

.thai {
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

.cover-container {
    max-width: 1420px;
    min-height: 100vh;
    color: #26262C;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-top: 115px;
    padding-right: calc(var(--bs-gutter-x) * 2.8);
    padding-left: calc(var(--bs-gutter-x) * 2.8);
    padding-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
}

.background-container {
    z-index: -1;
    max-width: 1420px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    width: 100%;
}

.table {
    margin: 0;
}

@media screen and (max-width: 1520px) {
    .cover-container {
        max-width: 1100px;
        padding-right: calc(var(--bs-gutter-x) * 2.4);
        padding-left: calc(var(--bs-gutter-x) * 2.4);
    }
    .background-container {
        max-width: 1100px;
    }
}

@media screen and (max-width: 1200px) {
    .cover-container {
        max-width: 970px;
        padding-right: calc(var(--bs-gutter-x) * 2);
        padding-left: calc(var(--bs-gutter-x) * 2);
    }
    .background-container {
        max-width: 970px;
    }
}

@media screen and (max-width: 992px) {
    .cover-container {
        max-width: 730px;
        padding-right: calc(var(--bs-gutter-x) * 1.8);
        padding-left: calc(var(--bs-gutter-x) * 1.8);
    }
    .background-container {
        max-width: 730px;
    }
}

@media screen and (max-width: 768px) {
    .cover-container {
        max-width: 550px;
    }
    .background-container {
        max-width: 550px;
    }
}

@media screen and (max-width: 576px) {
    .cover-container {
        width: 85vw;
        border-radius: 1rem;
        margin: 5rem auto;
        padding-top: 55px;
        background-color: rgba(255, 255, 255, 1);
        padding-right: calc(var(--bs-gutter-x) * 1.5);
        padding-left: calc(var(--bs-gutter-x) * 1.5);
    }
    .background-container {
       display: none;
    }
    .text-hidden {
        display: none;
    }
}

.f-xs {
    font-size: 0.75rem;
}
.f-sm {
    font-size: 0.875rem;
}
.f-smd {
    font-size: 1rem
}
.f-md {
    font-size: 1.125rem;
}
.f-lg {
    font-size: 1.5rem;
}
.f-xl {
    font-size: 2.25rem;
}

.fw-100 {
    font-weight: 100;
}
.fw-200 {
    font-weight: 200;
}
.fw-300 {
    font-weight: 300;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}
.fw-800 {
    font-weight: 800;
}

.underline {
    text-decoration: underline !important;
}

.bg-color-white, .hv-bg-color-white:hover {
    background-color: #fff;
}
.bg-color-black, .hv-bg-color-black:hover {
    background-color: #26262C;
}
.bg-color-0, .hv-bg-color-0:hover {
    background-color: rgba(255, 162, 66, 0.8);
}
.bg-color-1, .hv-bg-color-1:hover {
    background-color: #FFA242;
}
.bg-color-2, .hv-bg-color-2:hover {
    background-color: #FED470;
}
.bg-color-3, .hv-bg-color-3:hover {
    background-color: #58A550;
}
.bg-color-4, .hv-bg-color-4:hover {
    background-color: #2CACC9;
}
.bg-color-5, .hv-bg-color-5:hover {
    background-color: #FF333D;
}
.bg-color-6, .hv-bg-color-6:hover {
    background-color: #1B1F4B;
}
.bg-color-7, .hv-bg-color-7:hover {
    background-color: #194D45;
}
.bg-color-8, .hv-bg-color-8:hover {
    background-color: #6A244D;
}
.bg-color-9, .hv-bg-color-9:hover {
    background-color: rgba(27, 31, 75, 0.8);
}
.bg-color-10, .hv-bg-color-10:hover {
    background-color: rgba(25, 77, 69, 0.8);
}
.bg-color-11, .hv-bg-color-11:hover {
    background-color: rgba(106, 36, 77, 0.8);
}
.bg-color-12, .hv-bg-color-12:hover {
    background-color: #FF9326;
}
.bg-color-gray1, .hv-bg-color-gray1:hover {
    background-color: #D7D7D6;
}
.bg-color-gray2, .hv-bg-color-gray2:hover {
    background-color: #A5A3A2;
}
.bg-color-gray3, .hv-bg-color-gray3:hover {
    background-color: #726F6E;
}
.bg-color-gray4, .hv-bg-color-gray4:hover {
    background-color: #585656;
}

.color-white, .hv-color-white:hover {
    color: #fff;
}
.color-black, .hv-color-black:hover {
    color: #26262C;
}
.color-1, .hv-color-1:hover {
    color: #FFA242;   
}
.color-2, .hv-color-2:hover {
    color: #FED470;   
}
.color-3, .hv-color-3:hover {
    color: #58A550;
}
.color-4, .hv-color-4:hover {
    color: #2CACC9;
}
.color-5, .hv-color-5:hover {
    color: #FF333D;
}
.color-6, .hv-color-6:hover {
    color: #1B1F4B;
}
.color-7, .hv-color-7:hover {
    color: #194D45;
}
.color-8, .hv-color-8:hover {
    color: #6A244D;
}
.color-9, .hv-color-9:hover {
    color: rgba(27, 31, 75, 0.8);
}
.color-10, .hv-color-10:hover {
    color: rgba(25, 77, 69, 0.8);
}
.color-11, .hv-color-11:hover {
    color: rgba(106, 36, 77, 0.8);
}
.color-12, .hv-color-12:hover {
    color: #FF9326;
}
.color-gray1, .hv-color-gray1:hover {
    color: #D7D7D6;
}
.color-gray2, .hv-color-gray2:hover {
    color: #A5A3A2;
}
.color-gray3, .hv-color-gray3:hover {
    color: #726F6E;
}
.color-gray4, .hv-color-gray4:hover {
    color: #585656;
}

.sh-sm {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.sh-md {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}
.sh-lg {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
}
.sh-xl {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.jc-start {
    justify-content: flex-start;
}
.jc-center {
    justify-content: center;
}
.jc-end {
    justify-content: flex-end;
}
.jc-btw {
    justify-content: space-between;
}

.ai-start {
    align-items: flex-start;
}
.ai-center {
    align-items: center;
}
.ai-end {
    align-items: flex-end;
}

.fd-col {
    flex-direction: column;
}

.hv-pointer:hover {
    cursor: pointer;
}

.sp-vertical {
    height: 1rem;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #A5A3A2;
    opacity: 1; /* Firefox */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #A5A3A2;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: #A5A3A2;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

[data-title]:hover::after {
    opacity: 1;
    transition: all 0.3s 0.4s;
    visibility: visible;
}
[data-title]::after {
    height: 30px;
    content: attr(data-title);
    font-size: 0.875rem;
    display: flex;
    padding: 0 8px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -90%;
    color: #26262C;
    background-color: #fff;
    white-space: nowrap;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #A5A3A2;
}

/* All media screen */
/* @media screen and (max-width: 1520px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
} */