.topbar {
    z-index: 999;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25);
    min-width: 100vw;
    width: 100%;
    height: 55px;
    top: 0;
    translate: 0 -55px;
    padding: 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    transition: all .4s;
}
.topbar.visible {
    top: 0;
    translate: 0;
}
.topbar .nav {
    padding: 0 .3rem;
}
/* Nav side */
.topbar nav {
    display: flex;
}
.topbar nav a {
    display: block;
    position: relative;
    margin-right: 1.5rem;
    height: 55px;
}
.topbar nav a:hover {
    color: #FFA242;
}
.topbar nav a div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topbar nav a.hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #FFA242;
    transform: scaleX(0);
    transform-origin: left;
    transition: all .3s ease-out;
}
.topbar nav a.hover:hover::after {
    transform: scaleX(1);
}
.topbar nav a.hover.active::after {
    transform: scaleX(1);
}
.topbar nav a.weekly.active {
    color: #FFA242;
}
/* Nav side */

/* Profile side */
.topbar .profile-section {
    display: flex;
    align-items: center;
}
.topbar .profile-section .point {
    margin: 0 1rem;
    padding: 0 1rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    background-color: #FFA242;
    border: 3px solid #FED470;
    border-radius: 25px;
}
.topbar .profile-section .profile-pic {
    position: relative;
}
.topbar .profile-section .profile-pic .img {
    cursor: pointer;
}
.topbar .profile-section .profile-pic .img img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.topbar .profile-section .profile-pic .dropdown {
    width: 200px;
    background-color: #fff;
    position: absolute;
    right: -36px;
    top: 30px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    transition: all .2s;
    opacity: 0;
    visibility: hidden;
}
.topbar .profile-section .profile-pic .dropdown::before {
    content: "";
    background: inherit;
    border-top: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    position: absolute;
    top: -7px;
    right: 48px;
    width: 12px;
    height: 12px;
    rotate: -45deg;
}
.topbar .profile-section .profile-pic .dropdown.active {
    top: 46px;
    opacity: 1;
    visibility: visible;
}
.topbar .profile-section .profile-pic .dropdown .info {
    padding: 1.2rem .8rem 0 .8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topbar .profile-section .profile-pic .dropdown .info .point {
    margin-top: .6rem;
    display: none;
}
.topbar .profile-section .profile-pic .dropdown .info span {
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.topbar .profile-section .profile-pic .dropdown .menu {
    padding-bottom: 1.2rem;
}
.topbar .profile-section .profile-pic .dropdown .menu a {
    color: #FFA242;
    cursor: pointer;
    padding: .4rem 1rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: all .2s;
}
.topbar .profile-section .profile-pic .dropdown .menu a:hover {
    background-color: #FFA242;
    color: #fff;
}
/* Profile side */

/* Notification badge */
.notification {
    height: 55px;
    position: relative;
    display: flex;
    align-items: center;
}

.notification .icon {
    transition: all .2s;
    cursor: pointer;
}

.notification .icon:hover {
    color: #FFA242;
}

.badge {
    height: 18px;
    width: 18px;
    border: 2px solid #fff;
    border-radius: 9px;
    background: #FF333D;
    font-size: 1px;
    color: #FF333D;
    position: absolute;
    top: 12px;
    right: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Notification badge */

/* Toggle sidebar */
.topbar .toggle-sidebar {
    display: none;
    align-items: center;
    justify-content: center;
}
.topbar .toggle-sidebar .toggle-sidebar-content{
    width: 36px;
    height: 36px;
    border-radius: 8px;
    transition: background-color .2s;
}
.topbar .toggle-sidebar::after {
    display: none;
}
.topbar .toggle-sidebar.active .toggle-sidebar-content {
    color: #fff;
    background-color: #FFA242;
}
/* Toggle sidebar */

/* Topbar Responsive */
.topbar-res {
    z-index: 998;
    position: fixed;
    top: 0;
    width: 100vw;    
    height: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    transition: all .4s;
}
.topbar-res.active {
    top: 55px;
    height: 240px;
    opacity: 1;
    visibility: visible;
}
.topbar-res a {
    opacity: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
}
.topbar-res.active a {
    opacity: 1;
}
.topbar-res a:hover {
    background-color: #FFA242;
    color: #fff;
}
.backdrop {
    z-index: 997;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all .4s;
}
.backdrop.active {
    opacity: 1;
    visibility: visible;
}
/* Topbar Responsive */

@media screen and (max-width: 1520px) {
    .topbar {
        padding: 0 120px;
    }
}

@media screen and (max-width: 1200px) {
    .topbar {
        padding: 0 60px;
    }
}

@media screen and (max-width: 992px) {
    .topbar {
        padding: 0 20px;
    }    
    .topbar-res {
        display: none;
    }
    .backdrop {
        display: none;
    }
    .topbar .profile-section .profile-pic .dropdown {
        right: -6px;
    }
    .topbar .profile-section .profile-pic .dropdown::before {
        right: 18px;
    }
}

@media screen and (max-width: 768px) {
    .topbar .nav.top {
        display: none;
    }
    .topbar .nav.toggle-sidebar {
        display: flex;
    }
    .topbar-res {
        display: flex;
    }
    .backdrop {
        display: block;
    }
}

@media screen and (max-width: 576px) {
    .topbar .profile-section .point {
        display: none;
    }
    .topbar .profile-section .profile-pic .dropdown .info .point {
        display: block;
    }
}

@media screen and (max-width: 350px) {
    .topbar {
        padding: 0 8px;
    } 
}