.question-page .body .top-section {
    display: flex;
    justify-content: space-between;
}

.question-page .body .top-section .left-side p {
    display: flex;
    align-items: center;
}

.question-page .body .top-section .left-side p.question-name {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: 700;
    font-size: 2.25rem;
}

.question-page .body .top-section .left-side p .icon {
    width: 32px;
}

.question-page .body .top-section .left-side .subject-name {
    font-size: 1rem;
}

.question-page .body .top-section .left-side .due-date {
    font-size: 1rem;
}

.question-page .body .top-section .right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.question-page .body .top-section .right-side .action {
    margin-bottom: 2rem;
    display: flex;
}

.question-page .body .top-section .right-side .action button {
    margin-left: .6rem;
}

.question-page .body .top-section .right-side .point {
    height: 36px;
    padding: 0 .6rem;
    font-weight: 700;
    color: #fff;
    border-radius: 18px;
    background-color: #FED470;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-page .body .problem-section {
    margin-top: 2rem
}

.question-page .body .problem-section .menu-section {
    display: flex;
    align-items: center;
}

.question-page .body .problem-section .menu-section .menu {
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    color: #3E3C3E;
    transition: all .2s;
}

.question-page .body .problem-section .menu-section .menu:hover {
    background-color: #FFA242;
    color: #fff;
}

.question-page .body .problem-section .menu-section .menu .icon {
    font-size: 1.8rem;
}

.question-page .body .problem-section .menu-section .menu span {
    width: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 1.125rem;
    font-weight: 700;
}

.question-page .body .problem-section .menu-section .menu.active {
    color: #FFA242;
}

.question-page .body .problem-section .menu-section .menu.active.des {
    width: 170px;
}

.question-page .body .problem-section .menu-section .menu.active.dis {
    width: 135px;
}

.question-page .body .problem-section .menu-section .menu.active.sub {
    width: 170px;
}

.question-page .body .problem-section .menu-section .menu.active:hover {
    background-color: #fff;
    color: #FFA242;
}

.question-page .body .problem-section .menu-section .menu.active .icon {
    margin-right: .25rem;
}

.question-page .body .problem-section .menu-section .menu.active span {
    width: unset;
}

.question-page .body .problem-section .detail-section {
    width: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin-top: 1.2rem;
    padding: 1.5rem;
    overflow-y: scroll;
    transition: all .2s;
    max-height: 600px;
}

.question-page .body .problem-section .detail-section::-webkit-scrollbar {
    display: none;
}

.question-page .body .problem-section .detail-section.description,
.question-page .body .problem-section .detail-section.discuss,
.question-page .body .problem-section .detail-section.submission {
    max-height: 540px;
}

.question-page .body .problem-section .detail-section .description {
    padding: .5rem;
}

.question-page .body .problem-section .detail-section .description,
.question-page .body .problem-section .detail-section .discuss,
.question-page .body .problem-section .detail-section .submission {
    height: 0;
    position: absolute;
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
}

.question-page .body .problem-section .detail-section .description.active,
.question-page .body .problem-section .detail-section .discuss.active,
.question-page .body .problem-section .detail-section .submission.active {
    position: unset;
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    transition: all .2s;
    height: auto;
}

.question-page .body .problem-section .detail-section .discuss .comment-box {
    overflow: hidden;
    position: relative;
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: auto;
    display: flex;
    align-items: center;
    padding-right: 140px;
    transition: all .2s;
}

.question-page .body .problem-section .detail-section .discuss .comment-box textarea {
    align-self: flex-start;
    width: 100%;
    border-radius: 10px;
    max-height: 160px;
    resize: none;
    padding: 1rem;
    border: none;
    outline: none;
    background-color: transparent;
    transition: all .2s;
}

.question-page .body .problem-section .detail-section .discuss .comment-box button {
    position: absolute;
    right: 0;
    padding: 0 1rem;
    height: 160px;
    border-radius: 0 10px 10px 0;
    transition: all .2s;
}

.question-page .body .problem-section .detail-section .discuss .sort {
    font-size: 1.125rem;
    margin: 1rem 0;
}

.question-page .body .problem-section .detail-section .discuss .sort span {
    color: #A5A3A2;
}

.question-page .body .problem-section .detail-section .discuss .sort select {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0 .5rem;
}

.question-page .body .problem-section .detail-section .discuss .comment {
    padding-top: 1rem;
}

.question-page .body .problem-section .detail-section .discuss .comment .comment-owner{
    display: flex;
    align-items: center;
}

.question-page .body .problem-section .detail-section .discuss .comment .comment-owner .owner-detail {
    margin-left: .6rem;
}

.question-page .body .problem-section .detail-section .discuss .comment .comment-owner .owner-detail .date {
    color: #A5A3A2;
    font-size: .75rem;
}

.question-page .body .problem-section .detail-section .discuss .comment .comment-detail {
    padding: .8rem 0;
}

.question-page .body .problem-section .detail-section .discuss .comment .comment-action {
    display: flex;
    align-items: center;
    user-select: none;
}

.question-page .body .problem-section .detail-section .discuss .comment .comment-action .vote {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.question-page .body .problem-section .detail-section .discuss .comment .comment-action .show-reply,
.question-page .body .problem-section .detail-section .discuss .comment .comment-action .reply,
.question-page .body .problem-section .detail-section .discuss .comment .comment-action .report {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.question-page .body .problem-section .detail-section .discuss .comment .comment-action .icon{
    cursor: pointer;
    font-size: 1.5rem;
    color: #FFA242;
}

.question-page .body .problem-section .detail-section .discuss .comment .comment-action span {
    padding: 0 .3rem;
    font-size: .875rem;
}

.question-page .body .problem-section .detail-section .discuss .comment .comment-reply {
    height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    border-left: 2px solid #A5A3A2;
    margin-left: 2.3rem;
    padding-left: 3rem;
    transition: all .2s;
}

.question-page .body .problem-section .detail-section .discuss .comment .comment-reply.active {
    height: auto;
    overflow: visible;
    opacity: 1;
    visibility: visible;
    margin: .5rem 0 .5rem 2.3rem;
    padding: .5rem 0 .5rem 3rem;
}

.question-page .body .problem-section .detail-section .discuss .comment .comment-reply .comment {
    margin-bottom: 1rem;
}
.question-page .body .problem-section .detail-section .discuss .comment .comment-reply .comment:last-child {
    margin-bottom: 0;
}

.question-page .body .problem-section .detail-section .submission .comment-box {
    overflow: hidden;
    position: relative;
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: auto;
    display: flex;
    align-items: center;
    padding-right: 60px;
    transition: all .2s;
}

.question-page .body .problem-section .detail-section .submission .comment-box textarea {
    align-self: flex-start;
    width: 100%;
    border-radius: 10px;
    max-height: 160px;
    resize: none;
    padding: 1rem;
    border: none;
    outline: none;
    background-color: transparent;
    transition: all .2s;
}

.question-page .body .problem-section .detail-section .submission .comment-box .file-input {
    position: absolute;
    right: 0;
    height: 160px;
    background-color: #FFA242;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all .2s;
}

.question-page .body .problem-section .detail-section .submission .comment-box .file-input:hover {
    background-color: #FF9326;
}

.question-page .body .problem-section .detail-section .submission .comment-box .file-input__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
  
.question-page .body .problem-section .detail-section .submission .comment-box .file-input .file-input__label {
    padding: 0 1rem;
    cursor: pointer;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-page .body .problem-section .detail-section .submission .attachment {
    margin-top: 1.6rem;
}

.question-page .body .problem-section .detail-section .submission .attachment .attach-file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.question-page .body .problem-section .detail-section .submission .attachment .attach-file .file-icon{
    width: 48px;
    height: 48px;
    font-size: 1.6rem;
    color: #fff;
    background-color: #FFA242;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .6rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.question-page .body .problem-section .detail-section .submission .attachment .attach-file .file-info {
    display: flex;
    flex-direction: column;
}

.question-page .body .problem-section .detail-section .submission .attachment .attach-file .file-info .file-name {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 1.125rem;
    color: #FFA242;
    font-weight: 600;
}

.question-page .body .problem-section .detail-section .submission .attachment .attach-file .file-info .file-size {
    font-size: 0.875rem;
}